<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="LabberClient.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="..."/>
  </connectionStrings>
  <userSettings>
    <LabberClient.Settings>
      <setting name="dbconnectionstring" serializeAs="String">
        <value />
      </setting>
      <setting name="userId" serializeAs="String">
        <value>0</value>
      </setting>
    </LabberClient.Settings>
  </userSettings>
</configuration>